{
  "env": {
    "jest": true
  },
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:react/jsx-runtime",
    "../.eslintrc"
  ],
  "parserOptions": {
    "sourceType": "module",
    "project": [
      "./tsconfig.json"
    ]
  }
}
